body{
    font-family: sans-serif;
    background-color:ghostwhite;
}
.center{
    text-align: center;
}
.datosUsuario{
    width: 15.625em;
    margin-top: 0.1875em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-div{
    margin-left: auto;
    margin-right: auto;
}
.inline{
    display:inline;
}
.imgUsuario{
    width: 13%;
}
.margenSuperior{
    margin-top: 1.875em;
}
.logo{
    margin-top: 0.25em;
    margin-left:  0.625em;
    width: 18%;
}
.logoRegistro{
    margin-top: 0.25em;
    margin-left:  0.625em;
    width: 13%;
}
.etiqueta{
    width: 5.6em;
}
.datosRegistro{
    width: 40em;
    margin-top: 0.1875em;
}
@media screen and (max-width: 900px){
    .datosRegistro{
        width: 90%;
    }
    .datosUsuario{
        width: 70%;
    }
    .btn1{
        width: 90%;
        display: inline-block;
    }
    .imgUsuario{
        width: 25%;
    }
    .logoRegistro{
        width: 25%;
    }
}